@model List<OrdersView>
@{
    ViewData["Title"] = "OrdersView";
}
<style>
    .t1 {
        border: 2px solid black;
    }

    form {
        margin-left: 300%;
    }

    h1 {
        text-align: center;
    }
</style>

<h1>@ViewData["Title"]</h1>
<table class="t1">
    <tr class="t1">
        <td class="t1">№п/п</td>
        <td class="t1">Фамилия</td>
        <td class="t1">Имя</td>
        <td class="t1">ОТчество</td>
        <td class="t1">Дата/Время</td>
        <td class="t1">ИТОГ</td>
        <td class="t1"><a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="Add">Добавить</a></td>
    </tr>
    @foreach (var c in Model)
    {
        <tr class="t1">
            <td class="t1" name="id">@c.IdOrders</td>
            <td class="t1">@c.CustomerLastname</td>
            <td class="t1">@c.CustomerFirstname</td>
            <td class="t1">@c.CustomerPatronymic</td>
            <td class="t1">@c.TimeOrdered</td>
            <td class="t1">@c.Totalcost</td>
        </tr>
    }
</table>